
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    background-color: #322C3A;
}

.logo-img {
    max-width: 60px;
}

.guide {
    color: #47E1B6;
}

.statement-section {
    background-color: #1a1a1a;
    height: 100vh;
    overflow-y: auto;
}

.saldo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saldo-label {
    font-size: 0.8rem;
    color: #adb5bd;
}

.saldo-valor {
    font-size: 1.2rem;
    font-weight: bold;
    color: #20c997;
}

.btn-super-large {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border-radius: 12px;
}

ia {
        width: 35%;
    }

    .col-qtd {
        width: 15%;
    }

    .col-valor {
        width: 25%;
    }

    